body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}
header {
    background-color: rgb(125, 154, 163);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    display: flex;
}


nav a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
.social a img{
    padding: 20px;
    flex-direction: row;
    width: 30px;
    border-radius: 50%;

}

.about-container{
display: flex;
padding: 30px;
gap: 20px;

}

.col {
    flex: 1;
}
footer {
    background-color: rgb(125, 154, 163);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (max-width: 768px) {
    header, footer {
        flex-direction: column;
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    .about-container{
        flex-direction: column;
    }
    
    
}
    
